
<ups-book data="books[0]">
	<div>titre de ma super directive</div>
</ups-book>

<input ng-model="searchModel"/>

<div class="list-group">
    <a ygyghref="#/books/{{book.id}}" class="list-group-item" ng-repeat="book in books | filter:searchModel | orderBy:'date'">
        {{book.title}}
        {{book.date | date:'yy mm : ss'}}
        {{book.read | checkmark}}
        <button ng-click="updateBook(book)">Update 0</button>
    	<input type="checkbox" ng-model="book.read"/>
    </a>
</div>

	{{books | json | uppercase}}


<hr>


<form name="myForm" ng-submit="submitNewBook()" novalidate>
	<input class="col-xs-12" type="text" name="title" ng-model="newbook.title" required/>

<p ng-show="myForm.title.$invalid">
	Title invalide
</p>

	<textarea class="col-xs-12" name="description" ng-model="newbook.description" required>

	</textarea>
<p ng-show="myForm.description.$invalid">
	description invalide
</p>

<button type="submit">submit</button>

</form>

<p ng-show="myForm.$invalid">
	Formulaire invalide
</p>

<pre>
{{myForm | json}}
</pre>